@media screen and (max-width:799px) {
    .nav-items{
       flex-direction: row;
        /* align-items: center; */
        
    }
    .hamburger{
        display: none;
    }
    .banner-main{
        flex-direction: column;
        align-items: center;
    }
    .chage-image{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        margin-left: 50px;
    }
    .run-main{
        flex-direction: column;
        align-items: center;
        margin-bottom: 310px;
        
    }
    .image-container-1{
        grid-template-columns: repeat(1fr 1fr);
    }
    .image-container-2{
        grid-template-columns: repeat(1fr 1fr);
    }
    .Calculator-section-body{
        grid-template-columns: repeat(1,1fr);
    }
    #line-2{
        display: block;
    }
    .fitness-main{
        flex-direction: column;
        align-items: center;
    }
    #input-line{
        flex-direction: row;
    }
    
}
@media screen and (max-width:576px) {
    .nav-links{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .nav-items{
        flex-direction: row;
     }

     /* banner style here */
    .banner-main{
        flex-direction: column;
    }
    .btn-main{
        display: block;
    }
    .chage-image{
        grid-template-columns: repeat(1,1fr);
        margin-left: 50px;
    }
    .run-main{
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: 310px;
    }
    .image-container-1{
        grid-template-columns: 0.80fr 1.4fr 0fr;
    }
    .image-container-2{
        grid-template-columns: 1.2fr 0.70fr 0fr
    }
    .Calculator{
        padding-left: 30px;
    }
    #input-line-1{
        width: 45%;
    }
    #line-2{
        width: 92%;
    }
    .Calculator-section-body{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
    .row-1{
        grid-template-columns: repeat(1,1fr);
        
    }
    .row-2{
        grid-template-columns: repeat(1,1fr);
        
    }
    .Calculator-section-body{
        grid-template-columns: repeat(1,1fr);
    }
    .fitness-main{
        flex-direction: column;
    }
    .display{
        display: none;
    }
    
    
}