@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mountains+of+Christmas:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: rgba(0, 0, 0, 0.973);
    color: aliceblue;
    /* border: 5px solid green; */
}
*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
/* navbar style start here */
.nav-bar{
    background-color: rgb(17, 17, 17);
      
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1060px;
    height: 50px;
    align-items: center;
    margin: 0 auto;
    padding: 5px 10px;
}
.nav-title{
    font-size: 2.4rem;
    font-weight: 700;
    color: #e5533b;
    text-decoration: none;
    padding: 10px 5px;
}
.nav-items{
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
    list-style: none;
    color: #fff;
    padding: 10px 5px;
}
.item-1{
    background: #e5533b;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    color: #fff;
}
.item{
    text-decoration: none;
    color: #fff;
}
.hamburger{
    display: none;
}
/* banner style start here */
.banner-main{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
}
.banner-left{
    max-width: 100%;
    padding: 5px;
   
}
.banner-left h1{
    font-size: 4.8rem;
    font-weight: 800;
    /* line-height: 120%; */
}
.banner-left p{
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    margin-bottom: 20px
    
}
.span{
    @import url('https://fonts.cdnfonts.com/css/miama');
    font-family: 'Miama', sans-serif;
    color: rgb(210, 210, 224);
}
.btn-primary{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    color: aliceblue;
    padding: 16px 40px;
    border: none;
}
.btn-secondary{
    background: none;
    border-radius: 42px;
    color: aliceblue;
    padding: 16px 40px;
    
}
.banner-right img{
    width: 100%;
    position: relative;
}
.card-1{
    position: absolute;
    margin-top: -450px;
    margin-left: 200px;
    background-color: rgba(0, 0, 0, 0.534);
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;

}
.card-2{
    position: absolute;
    margin-top: -90px;
    margin-left: -50px;
    background-color: rgba(0, 0, 0, 0.534);
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;
}
.span-1{
    font-size: 2.5rem;
    align-items: start;
}  
.span-2{
    font-size: 1.5rem;
}
/* banner style start here */
.change-section{
    background-color:rgba(0, 0, 0, 0.753);
    
}
.change-main{
    max-width: 1060px;
    margin: 0 auto;
}
.change-head h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;

}
.change-head p{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: grey;
    margin-bottom: 30px;
}
.chage-image{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.change-1,.change-2,.change-3,.change-4{
    border-radius: 90px;
    padding: 5px;
}
.div{
    max-width: 230px;
    height: 275px;
}
.card-description{
    text-align: center;
}
/* run style here */
.run-main{
    max-width: 1060px;
    height: 375px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* gap: 100px; */

}
.run-left{
    max-width: 500px;
    min-height: 290px;
    margin-top: 50px;
    padding: 10px;
}
.run-left h1{
    font-size: 3rem;
    font-weight: 800;
}
.run-left p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.run-right{
    max-width: 370px;
    margin-top: 40px;
}
.run-right img{
    width: 80%;
    min-height: 290px;
    border-radius: 20px;
    margin-left: 20px;
}
/* training-main */
.training-main{
    max-width: 1060px;
    min-height: 450px;
    padding: 10px;
}
.training{
    max-width: 670px;
    min-height: 120px;
}
.image-container-main{
    /* width: 100%;
    min-height: 400px; */
    /* border: 1px solid red; */
}

.training h3{
    font-size: 3rem;
    font-weight: 900;
}
.training p{
    font-size: 1.2rem;
    font-weight: 400;
}
.image-container-1{
    display: grid;
    grid-template-columns: 0.80fr 1.4fr 0.75fr;
}
.head-1 img{
    max-width: 100%;
    min-height: 300px;
}
.head-2 img{
    max-width: 100%;
    min-height: 300px;
}
.head-3 img{
    max-width: 100%;
    min-height: 300px;
}

.image-container-2{
    display: grid;
    grid-template-columns: 1.2fr 0.70fr 1.1fr
}
.head-4 img{
    max-width: 100%;
    min-height: 300px;
}
.head-5 img{
    max-width: 100%;
    min-height: 300px;
}
.head-6 img{
    max-width: 100%;
    min-height: 300px;
}
.head-1{
   position: relative;
}
.leg-1{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50% -50%);
}
.head-2{
   position: relative;
}
.leg-2{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50% -50%);
}
.head-3{
   position: relative;
}
.leg-3{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50% -50%);
}
.head-4{
   position: relative;
}
.leg-4{
    position: absolute;
    top: 10%;
    right: 10%;
    transform: translate(-50% -50%);
}
.head-5,.head-6{
   position: relative;
}
.leg-5,.leg-6{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50% -50%);
}
/* BMI Calculator */
.BMI-Calculator{
    max-width: 1440px;
}
.Calculator{
    max-width: 680px;
    min-height: 120px;
    margin: 0 auto;
}
.Calculator-section-main{
    background: #333;
    max-width: 1440px;
    min-height: 300px;
}
.Calculator-section-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    max-width: 1060px;
    min-height: 390px;
    gap: 30px;
}
.Chart{
    max-width: 310px;
    min-height: 216px; 
}
.Chart h1{
    font-size: 1.8rem;
    font-size: 900;
    margin-top: 14px;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid white;
    padding: 10px 20px;
    color: #797474;
}
.Catculate-your-BMI{
    max-width: 580px;
    min-height: 390px;
}
.Catculate-your h2{
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 14px;
    margin-bottom: 20px;

}
.Catculate-your p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;

}
.input-option{
    max-width: 577px;
    min-height: 386px;
   line-height: 200%;
}
#input-line{
    margin-bottom: 10px;
    padding: 8px;
}
#input-line-1{
    margin-bottom: 10px;
    padding: 10px;
    max-width: 577px;
}
/* Team Section */

.section-5{
    max-width: 1060px;
    min-height: 850px;
    padding: 30px 20px;
}
.our-team{
    max-width: 680px;
    min-height: 100px;
    text-align: center;
    margin-bottom: 50px;
    margin: 0 auto;

}
.our-team h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.row-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    background: #333;
    border-radius: 30px;
}
.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    background: #333;
    border-radius: 30px;
    
}
.row-1 img{
    width: 90%;
    height: 280px;
    padding: 10px;
    border-radius: 30px;
    margin: 5px;
}
.row-2 img{
    width: 90%;
    height: 280px;
    padding: 10px;
    border-radius: 30px;
    margin: 5px;
}
.name{
    position: relative;
}
.designation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%,20%);
    line-height: 0%;
}
.designation h6{
    font-size: 1.2rem;
    font-weight: 800;
}

